<!-- <h1>The word is <%= @word.word %></h1> -->
<!-- <h1 class="word-horizontal"><%= @word.word %></h1> -->

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 mt-5" style="display: flex; justify-content: center;">


      <div>
      <% if current_user.language == 'spanish' %>
        <h3 id="test" class="mt-3">Type the correct word in Spanish</h3>
      <% else %>
        <h3 id="test" class="mt-3">Type the correct word in English</h3>
      <% end %>

      <% if @word.image_urls.present? %>
      <%= image_tag(@photo.gsub("w=150&h=150", "w=250&h=250"), :alt => "nothing yet...") %>
      <% end %>
      <!-- .concat("&w=180&h=180") -->
      <br>
      <br>

        <form action="/words/flashcards_second" method="post" id="flashcards" class="form-inline">

          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">


          <div class="form-group">

            <input type="text"  class="form-control" name="flashcards[guess]" autofocus>
          </div>

          <input type="hidden" name="flashcards[word]" value=<%= @word.id %> >

          <input type="hidden" name="flashcards[photo]" value=<%= @photo %> >

          <input type="submit" value="Check answer" class="btn btn-primary" style="margin-left: 8px">

        </form>

               <% if @wrong %>
        <p style="color: red;">Not quite, give it another shot!</p>
        <% end %>

        <div class="btn btn-light mt-3" id="show_word_button" data-word=<%= @word.word %> >Not sure?</div>
        <div id="answer" class="hidden_answer mt-2">
          <% if current_user.language == 'spanish' %>
            <p>The word is <span style="color: green;">"<%= @word.word %>"</span></p>
          <% else %>
            <p>Respuesta: <%= @word.translation %></p>
          <% end %>
        </div>
      </div>







    </div>
  </div>
</div>



<%= javascript_pack_tag 'show_answer' %>





