<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 mt-5">

      <h3>Your words</h3>
        <% i = 1 %>
        <table>
          <tr>
            <th>Spanish</th>
            <th>English</th>
            <th>Remove</th>
          </tr>

          <% @words.each do |word| %>
            <tr>
              <td>
                <%= i %>. <%= word.word %>
              </td>

              <td>
                <%= word.translation %>
              </td>

              <td>
                <%= link_to "Delete",
                            word_path(word),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
              </td>
            </tr>
            <% i += 1 %>
          <% end %>
        </table>

      <%= link_to 'Play flashcards', flashcards_words_path %>

    </div>
  </div>
</div>
