<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4 mt-5">

      <h3>Saved Words</h3>
        <% i = 1 %>
        <table>
          <tr>
            <th>Spanish</th>
            <th>English</th>
          </tr>

          <% @words.each do |word| %>
            <tr>
              <td>
                <%= i %>. <%= word.word %>
              </td>

              <td>
                <%= word.translation %>
              </td>

              <td>
                <%= link_to word_path(word),
                            method: :delete,
                            data: { confirm: "Are you sure?" }, html_input: { class: "delete-icon" } do %>
                            <i class="far fa-trash-alt test"></i>
                            <% end %>
              </td>
            </tr>
            <% i += 1 %>
          <% end %>
        </table>

      <%= link_to 'Play flashcards', flashcards_words_path %>

    </div>
  </div>
</div>

<style>
  th, td {
    width: 600px;
  }

  .test {
    color: red;
  }


</style>
