<br>
<h1><strong><%= @word.word %></strong>  means <strong><%= @word.translation %></strong></h1>
<h2>Select photos to be used for your flashcards.  We recommend selecting at least 3</h2>
<hr>



<% @word.image_urls.each do |image| %>

<img src="<%= image %>&w=150&h=150" alt="" class="buzz">

<% end %>
<hr>

<form action="/words/show_second" id="photos-form">
  <input type="hidden" name="id" value="<%= params[:id] %>">
  <input type="submit" id="photos-submit" value="Submit">
</form>



<%= javascript_pack_tag 'select_photo' %>
